.section {
    box-shadow: 0 0 10px rgb(180, 180, 180);
}

.section__subhead {
    padding: 10px 20px 10px 20px;
    background-color: white;
    margin: 6px 0;
}

.section__subheadList {
    padding: 0px 20px 0px 20px;
    background-color: white;

}

.section__header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: center;
    margin: 4px 0;
    background-color: white;
}

.section__button {
    background-color: white;
    border: none;
}