.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    background-color: white;
    padding: 12px 20px 12px 20px;
    align-items: center;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }

}

.form__label {
    flex-basis: 100%;
}

.form__input {
    width: 100%;
    border: solid 1px rgb(209, 208, 208);
    padding: 10px;
}

.form__button {
    background-color: teal;
    border: none;
    color: white;
    flex-basis: 100%;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(2, 196, 196);
    transform: scale(1.2);
}

.form__button:active {
    background-color: rgb(88, 255, 255);
    transform: scale(1);
}