.js__list {
    margin: 0 0 0 0;
    list-style: none;
    padding: 10px 10px 10px 10px;

}

.js__listItem {
    margin: 10px;
    font-size: 14px;
    word-break: break-all;
}

.js__listItem--done {
    text-decoration: line-through solid 2px rgb(0, 87, 14);
}

.js__mark {
    height: 30px;
    width: 30px;
    background-color: green;
    border: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.js__mark:hover {
    background-color: rgb(0, 163, 0);
    transform: scale(1.2);
}

.js__mark:active {
    background-color: rgb(8, 245, 8);
}

.js__remove {
    height: 30px;
    width: 30px;
    background-color: red;
    border: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.js__remove:hover {
    background-color: rgb(252, 103, 103);
    transform: rotate(180deg) scale(1.2);
}

.js__remove:active {
    background-color: rgb(250, 151, 151);
}