html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(230, 227, 227);
    margin: 20px;
}

.main {
    max-width: 800px;
    min-width: 250px;
    margin: 100px auto;
}